#rootElement {
  color: blue;
  border: 2px solid red;
}

#heading{
  color:red;
}
#parent {
  background-color: red;
    padding:2rem;
  border: 2px solid blue;
}
#child {
  background-color: blue;
  border: 2px solid green;
}
